    <!-- Aside/Right Cell (2of2)-->
    <aside class="container cell w33 mobile theme-l3">

      <!--Image; Front of Church Building -->
    	<section class="clear center pad16-t">
				<img class="study-img" src="/images/gandy_bldg-summer.jpg" alt="A white church building">
				<p class="study-p pad4-t">&ldquo;The churches of Christ greet you. . .&rdquo;</p>
				<p class="fs11 study-p"><b>Romans 16:16</b></p>
				<hr>
			</section><!--end Image-->

      <!-- Quote -->
			<section class="center pad16-t">
				<h5 class="mgn0-tb">Quote</h5>
				<!-- <p class="fs14 mgn0-tb">(Week $currentQuote->week)</p>
				<p class="fs14 mgn0-t">$currentQuote->quote</p> -->
				<p class="fs14 mgn0-t">
					...I want faithful love, not sacrifice. I want people to know God, not 
					to bring burnt offerings.

					<br>(Hos 6:6 ERV)
				</p>
				<hr>
			</section><!-- end Quote -->

      <!-- Events -->
      <section class="pad16-t">
        <h5 class="mgn0-tb">Upcoming Events</h5>
      <p class="fs14 center">
        Listen to Larry Murdock on the radio</br>
	      every Sunday Morning at 7:45 a.m.</br>
	      WDXE-1370 AM or WLX-105.3 FM
	    </p>


			{% include "partials/events.html" %}


			<hr>
			</section><!-- end Events -->

    </aside><!-- end Aside/Right Cell -->
