			
      <h6 class="center">Friday Night Singing</h6>

			<p class="fs14 mgn4-b">
				<b>Sept 26:&nbsp;&nbsp;7:00 p.m.,</b>&nbsp;&nbsp;Lomax<br>
				320 Darbytown Rd., Hohenwald, TN<br>
        931-796-5381
			</p>

			<p class="fs14 mgn4-b">
				<b>Oct 3:&nbsp;&nbsp;7:00 p.m.,</b>&nbsp;&nbsp;Old Philadelphia<br>
				5565 Vervilla Rd., Morrison, TN<br>
        931-314-4740
			</p>

			<p class="fs14 mgn4-b">
				<b>Oct 10:&nbsp;&nbsp;7:00 p.m.,</b>&nbsp;&nbsp;Campbellsvivlle<br>
				10416 Campbellsvivlle Rd., Pulaski, TN<br>
        931-964-4993
			</p>

		<p class="fs14 mgn4-b">
				<b>Oct 17:&nbsp;&nbsp;7:00 p.m.,</b>&nbsp;&nbsp;Salem<br>
				505 Westpoint Rd., Lawrenceburg, TN<br>
        931-762-2403
			</p>


<!--


			<p class="fs14 mgn4-b">
				<b>Oct 10:&nbsp;&nbsp;</b>
				Campbellsvivlle at 7:00 p.m., 10416 Campbellsvivlle Rd., Pulaski, TN<br>
        931-964-4993
			</p>

			<p class="fs14 mgn4-b">
				<b>Apr 19:&nbsp;&nbsp;</b>
				Friday Night Singing will be at East Hill, Pulaski, TN at 7:00 p.m.
			</p>

			<p class="fs14 mgn4-b">
				<b>Apr 22-26:&nbsp;&nbsp;</b>
				Searching the Scriptures with Southside, 6:05 a.m. on WDXE-1370 AM or 
				WLX-105.3 FM.
			</p>
			
			<p class="fs14 mgn4-b">
				<b>Apr 26:&nbsp;&nbsp;</b>
				Friday Night Singing will be at Eastwood, Florence, AL at 7:00 p.m.
			</p>
			
			<p class="fs14 mgn4-b">
				<b>Apr 29-May 3:&nbsp;&nbsp;</b>
				Searching the Scriptures with Leoma, 6:05 a.m. on WDXE-1370 AM or 
				WLX-105.3 FM.
			</p>

			<p class="fs14 mgn4-b">
				<b>May 3:&nbsp;&nbsp;</b>
				Friday Night Singing will be at Bethel, Culleoka, TN at 7:00 p.m.
			</p>

			<p class="fs14 mgn4-b">
				<b>May 6-10:&nbsp;&nbsp;</b>
				Searching the Scriptures with Gandy, 6:05 a.m. on WDXE-1370 AM or 
				WLX-105.3 FM.
			</p>
			
			<p class="fs14 mgn4-b">
				<b>May 13-17:&nbsp;&nbsp;</b>
				Searching the Scriptures with New Prospect, 6:05 a.m. on WDXE-1370 AM or 
				WLX-105.3 FM.
			</p>
-->