<!-- Gospel Meeting -->
<section class='center xline-h100' id='mtg'>
  <p class='fs26'>
    <b>Come join us<br>
    for our<br>
    2024 Spring Meeting
    </b>
  </p>
  <table class='bold fs18 table-cntr' id='mtg-time'>
    <tr><td>Date:</td>			<td>&nbsp;&nbsp;April 28, 29 and 30th</td></tr>
    <tr><td>Speaker:</td>		<td>&nbsp;&nbsp;Randy Kersey</td></tr>
    <tr><td>Song Leader:&nbsp;&nbsp;</td>	<td>&nbsp;&nbsp;Wade Slater</td></tr>
		<!-- <tr>
		  <td>Theme:</td>			<td class='txt-right'>Maintaining Convictions</td>
		</tr> -->
  </table>
  <br><br>
  <table class='bold table-cntr' id='mtg-time'>
    <caption>Meeting Times</caption>
    <tr><td>Sunday Bible Class</td>  <td class='txt-right'>10:00 am</td></tr>
    <tr><td>Sunday Worship</td>      <td class='txt-right'>11:00 am</td></tr>
    <tr><td>Sunday Evening</td>      <td class='txt-right'>7:30 pm</td></tr>
    <tr><td>Monday and Tuesday</td>  <td class='txt-right'>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;7:00 pm</td></tr>
  </table>
  <p class='bold italic fs26'>Everyone Invited!</p>
  <div class='row xxbrdr3-blue'>
    <div class='table-cntr brdr4-ridge-yellow col.m6 col.s12'>
      <!-- <h3>Be Our Guest!</h3> -->
      <p>Be our honored guest for Lunch after the <span>Sunday Morning Service</span></p>
      <!--
			<p>and</P>
			<p>Ice Cream Social after <span>Thursday Evening Service</span></p>
			-->
    </div>
  </div>
  <hr>
  <br>
</section>
<!--end Meeting-->