<!--Header and Nav, 2 columns-->
  <div class="hdr-row theme-d3 xbrdr3-yellow">
  
    <!--Left Col, for Logo-->
    <div class="hdr-col cell-top xbrdr3-red">
      <!--Logo Box-->
      <div class=" logo-box serif xbrdr3-green">
        <a href="../index.html" class=" button no-padding hover-theme xbrdr3-blue">
          <span class="logo-1 ltr-spc-wide xbrdr3-yellow"><b>GANDY </b></span>
          <span class="logo-2 xbrdr3-yellow">CHURCH&nbsp;<i>of</i>&nbsp; CHRIST</span>
        </a>
      </div><!--end logo box-->
    </div><!--end left col-->
    
    <!--Right Col, 2 rows, for Worship Time & Nav-->
    <div class="hdr-col cell-top xbrdr3-red">
      <!--Row1 Top-->
      <div class="row center xbrdr3-green">
        <!--Worship Time Box, 2 columns-->
        <div class=" wship-time pad8-tb xbrdr3-blue">
          <!--left col & table-->
          <div class="wship-box xbrdr3-red">
            <table class="wship-table">
              <tr>
                <td class="xbrdr3-yellow">Sunday Bible Class:&nbsp;</td>
                <td class="wship-td txt-right xbrdr3-yellow">10:00 am</td>
              </tr>
              <tr>
                <td class="xbrdr3-yellow">Sunday Worship:</td>
                <td class="wship-td txt-right xbrdr3-yellow">11:00 am</td>
              </tr>
            </table>
          </div>
          <!--right col & table-->
          <div class="wship-box xbrdr3-red">
            <table class="wship-table">
              <tr><td class="xbrdr3-yellow">Sunday Evening:</td>      <td class="txt-right xbrdr3-yellow">&nbsp;6:00 pm</td></tr>
              <tr><td class="xbrdr3-yellow">Wednesday Evening:</td>   <td class="txt-right xbrdr3-yellow">&nbsp;7:00 pm</td></tr>
            </table>
          </div>
          <!--Address-->
          <div class="txt-center xbrdr3-red">
            <b><span class="hdraddr-brk">954 West Point Rd,&nbsp;</span><span class="hdraddr-brk">&nbsp;Lawrenceburg, TN &nbsp;38464</span></b>
          </div>
        </div><!--end Wship-time box-->
      </div><!--end row1 top-->
      <!--Row2 Bottom, Navigation-->
      <div class="row center xtheme-d3 xbrdr3-green">
        <nav class="bar xbrdr3-blue" aria-label="Primary">
          <span class="nav-span">
            <a class="button  nav-btn-sz border-left border-right theme-d2" href="/">Home</a><!-- border=all 4 sides -->
            <a class="button  nav-btn-sz border-left border-right theme-d2" href="/about/">About Us</a>
            <a class="button  nav-btn-sz border-left border-right theme-d2" href="/bulletins/">Bulletins</a>
          </span>
          <span class="nav-span">
            <a class="button  nav-btn-sz border-left border-right theme-d2" href="/sermons/">Sermons</a>
            <a class="button  nav-btn-sz border-left border-right theme-d2 pad1-tb" href="/study/">Study<br>Materials</a>
            <a class="button  nav-btn-sz border-left border-right theme-d2" href="/links/">Links</a>
          </span>
        </nav>
      </div><!--end row2 bottom-->
    </div><!--end right col-->
  </div><!--end Header and Nav-->